<div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" style="background-color: orange">
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
    <span class="mat-title">TIES Library Books</span>
    <span class="mat-title" *ngIf="router.url=='/books'">-Reserve Books</span>
    <span class="mat-title" *ngIf="router.url=='/remove'">-Removing Books</span>
    <span class="mat-title" *ngIf="router.url=='/reinstate'">-Reinstate Books</span>
  </span>
  <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
  </span>
  <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)"
    flex>
  </td-search-box>
</div>

<table td-data-table>
  <thead>
    <tr td-data-table-column-row>
      <th td-data-table-column *ngFor="let column of columns" [numeric]="column.numeric">
        {{column.label}}
      </th>
      <th td-data-table-column *ngIf="state == 3 || state == 0">
        <mat-icon>update</mat-icon>
        <span>Reinstate</span>
      </th>
      <th td-data-table-column *ngIf="state !=2">
        <mat-icon>delete_outline</mat-icon>
        <span>Remove</span>
      </th>
      <th td-data-table-column *ngIf="state == 3 || state == 2">
        <mat-icon>add_box</mat-icon>
        <span>Add</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let row of filteredData">
      <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
        {{column.format ? column.format(row[column.name]) : row[column.name]}}
      </td>
      <td td-data-table-cell (click)="openConfirm(row,0)" *ngIf="(state == 3 || state == 0) && row.status == 'Reserved'; else disable">
        <button mat-button [class.mat-accent]="!row['comments']">
          <mat-icon>update</mat-icon>
        </button>
      </td>
      <td td-data-table-cell (click)="openConfirm(row,1)" *ngIf="state !=2 && row.status != 'Not Avaliable'; else disable">
        <button mat-button [class.mat-accent]="!row['comments']">
          <mat-icon>highlight_off</mat-icon>
        </button>
      </td>
      <td td-data-table-cell (click)="openConfirm(row,2)" *ngIf="(state == 3 || state == 2) && row.status == 'Not Avaliable'; else disable">
        <button mat-button [class.mat-accent]="!row['comments']">
          <mat-icon>library_add</mat-icon>
        </button>
      </td>
      <ng-template #disable>
        <td td-data-table-cell *ngIf="state == 3">
          <button mat-button>
            <mat-icon>block</mat-icon>
          </button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<div class="md-padding" *ngIf="!filteredData.hasData" layout="row" layout-align="center center">
  <h3>No Books to display.</h3>
</div>