<div class="total">
  
<h1>
  TIES Library Books
</h1>


<div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" ><mat-icon>search</mat-icon>
      </button>
    </div>
 </div>


<div class="grid">
  <div></div>
  <div class="middle-div">

      <div class="tabs">
          <mat-tab-group mat-stretch-tabs>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                      <h3>All Books</h3>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                      <h3>Avliable Books</h3>
                  </div>
                </ng-template>
              </mat-tab>
              <mat-tab>
                <ng-template matTabLabel>
                  <div layout="row" layout-align="center center">
                      <h3>Reserved Books</h3>
                  </div>
                </ng-template>
              </mat-tab>
          </mat-tab-group>
      </div>


    <table td-data-table>
    <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column
            *ngFor="let column of columns"
            [numeric]="column.numeric">
          {{column.label}}
        </th>
        <th td-data-table-column>
          <span>Action</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr td-data-table-row *ngFor="let row of books">
        <td td-data-table-cell *ngFor="let column of columns">
          <div *ngIf="column.name=='status'">
            <div *ngIf="row.status==1">
                Avaliable
            </div>
            <div *ngIf="row.status==0">
                Avaliable
            </div>
          </div>
          <div *ngIf="column.name!='status'">
          {{row[column.name]}} 
          </div>
        </td>
        <td td-data-table-cell (click)="openPrompt(row, 'Reserve')">
          <button mat-button [class.mat-accent]="!row['Reserve']">{{row['Reserve'] || 'Avliable'}}</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>


  <div></div>
</div>
</div>