body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
  }

.grid
{
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
}

  table {
    border: 1px solid rgb(202, 132, 132);
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    align-self: center;
  }
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr {
    border: 1px solid #ddd;
    padding: .35em;
  }
  table tr:nth-child(even) {
    background: hsl(24, 56%, 78%);  
  }
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  table th {
    background: rgb(230, 130, 49);
    color: #fff;
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h1{
      padding-left: 10%;
  }
  