<h1>
  Library Books
  <button>All Books</button>
  <button>Avliable Books</button>
  <button>Reserved Books</button>
</h1>
<table td-data-table>
    <thead>
      <tr td-data-table-column-row>
        <th td-data-table-column
            *ngFor="let column of columns"
            [numeric]="column.numeric">
          {{column.label}}
        </th>
        <th td-data-table-column>
          <span>Action</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr td-data-table-row *ngFor="let row of books">
        <td td-data-table-cell *ngFor="let column of columns">
          {{row[column.name]}}
        </td>
        <td td-data-table-cell (click)="openPrompt(row, 'Reserve')">
          <button mat-button [class.mat-accent]="!row['Reserve']">{{row['Reserve'] || 'Avliable'}}</button>
        </td>
      </tr>
    </tbody>
  </table>