<td-layout>
  <td-navigation-drawer flex sidenavTitle="Library" logo="teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <mat-nav-list>
      <ol>
        <li>
          <a [routerLink]="['/']" tdLayoutClose>
            <mat-icon>home</mat-icon> Home</a>
        </li>
        <li>
          <a [routerLink]="['/books']" routerLinkActive="active" tdLayoutClose>
            <mat-icon>book</mat-icon>Books</a>
        </li>
        <li>
          <a [routerLink]="['/addbook']" routerLinkActive="active" tdLayoutClose>
            <mat-icon>add</mat-icon>Add Books</a>
        </li>
        <li>
          <a [routerLink]="['/remove']" routerLinkActive="active" tdLayoutClose>
            <mat-icon>delete</mat-icon>Remove book</a>
        </li>
        <li>
          <a [routerLink]="['reinstate']" routerLinkActive="active" tdLayoutClose>
            <mat-icon>restore</mat-icon>Reinstate</a>
        </li>
        <li>
          <a [routerLink]="['notavaliable']" routerLinkActive="active" tdLayoutClose>
            <mat-icon>block</mat-icon>Not Avaliable</a>
        </li>
      </ol>
    </mat-nav-list>

    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <ol>
          <li>
            <a [routerLink]="['admin']" routerLinkActive="active" tdLayoutClose>Admin Section</a>
          </li>
        </ol>
        <!-- <a *ngFor="let item of usermenu" mat-list-item>
          <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a> -->
      </mat-nav-list>
    </div>

  </td-navigation-drawer>

  <td-layout-nav color="accent">
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon [routerLink]="['/']" class="mat-icon-logo cursor-pointer" svgIcon="teradata">

      </mat-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Library</span>
      <span flex></span>
      <ul id="horizontal">
        <li>
          <a [routerLink]="['/']">
            <mat-icon>home</mat-icon>
            <span class="responsive">Home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['books']" routerLinkActive="active">
            <mat-icon>book</mat-icon>
            <span class="responsive">Books</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['addbook']" routerLinkActive="active">
            <mat-icon>add</mat-icon>
            <span class="responsive">Add Book</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['remove']" routerLinkActive="active">
            <mat-icon>delete</mat-icon>
            <span class="responsive">Remove book</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['reinstate']" routerLinkActive="active">
            <mat-icon>restore</mat-icon>
            <span class="responsive">Reinstate</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['notavaliable']" routerLinkActive="active">
            <mat-icon>block</mat-icon>
            <span class="responsive">Not Avaliable</span>
          </a>
        </li>
      </ul>
    </div>
    <app-middle></app-middle>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="mat-caption">Copyright &copy; 2017 Teradata. All rights reserved</span>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>