<h1>
  TIES Library Books
</h1>

<h2 *ngIf="router.url == '/middle/books'">
  Reserve a book Today click on the book to make a reservation
</h2>

<h2 *ngIf="router.url == '/middle/admin'">
  Admin Page
</h2>

<div class="middle-div" [ngStyle]="style_width">
  <div class="tabs">
    <div>
      <a (click)="allbooks()" [ngStyle]="style_all">
        <span class="responsive">All Books</span>
      </a>
    </div>
    <div>
      <a (click)="avaliablebooks()" [ngStyle]="style_avaliable">
        <span class="responsive">Avaliable Books</span>
      </a>
    </div>
    <div>
      <a (click)="reservedbooks()" [ngStyle]="style_reserved">
        <span class="responsive">Reserved Books</span>
      </a>
    </div>
    <div>
      <a (click)="notAvaliablebooks()" [ngStyle]="style_notAvaliable">
        <span class="responsive">Not Avaliable Books </span>
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>