<h1 style="padding-left: 30%; color: rgb(7, 182, 226);">Add Book</h1>
<div class="grid">
    <div></div>
    <div>
        <form class="addbook">
            <mat-form-field class="addbook-small-width">
                <textarea matInput placeholder="Book Id"></textarea>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <mat-form-field class="addbook-medium-width">
              <input matInput placeholder="Book Name">
            </mat-form-field>
          
            <mat-form-field class="addbook-full-width">
              <textarea matInput placeholder="Description"></textarea>
            </mat-form-field>
        
            <mat-form-field class="addbook-medium-width">
                <textarea matInput placeholder="Author"></textarea>
            </mat-form-field>
        
            <mat-form-field class="addbook-medium-width">
                <textarea matInput placeholder="PUblicatoins"></textarea>
            </mat-form-field>
            <br>
            <mat-form-field class="addbook-small-width">
                <textarea matInput placeholder="Price"></textarea>
            </mat-form-field>
            <br>
            <button style="
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            ">
            submit
            </button>
            <br><br><br>
          </form>
    </div>
    <div></div>
</div>